<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <title>Final Project</title>
</head>
<body>
    <%- include('partial/navbar', {active: "Maintainance"}); %>

    <main role="main">
        <div class="row" style="padding:10px">
            <div class="container-fluid">
                <h1 style="color:blue; text-align:center">Route Creator</h1>
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-12 col-md-6">
                <div id="map" style="width:100%; height:700px;"></div>
            </div>
            <div class="col-12 col-md-6">
                <h1>Add Route</h1>

                <script type="text/javascript" language="javascript">
                    function checkform()
                    {
                        var f = document.forms["createForm"].elements;
                        var cansubmit = true;

                        for (var i = 1; i < 6; i++) {
                            if (f[i].value.length == 0) cansubmit = false;
                        }
                        document.getElementById('submitbutton').disabled = !cansubmit;

                        if(cansubmit) {
                            document.getElementById("errorMsg").style.display = "none";
                        }
                        else
                        {
                            document.getElementById("errorMsg").style.display = "block";
                        }
                    }
                </script>

                <form action="/item" method="POST" name="createForm">
                    Username:<br />
                    <input type="text" name="creator" onKeyup="checkform()"/><br>
                    Route:<br />
                    <textarea id="route" style="width:100%; height:300px" type="text" name="geoJson" onKeyup="checkform()"></textarea>
                    Routename:<br />
                    <input type="text" name="name" onKeyup="checkform()"/><br>
                    Description:<br />
                    <input type="text" name="description" onKeyup="checkform()"/><br>
                    Timestamp:<br />
                    <input type = "date" name = "date" onKeyup="checkform()"/>
                    <input type = "time" name = "time" onKeyup="checkform()"/>
                    <input type = "hidden" name="typ" onKeyup="checkform()" value = "user"/>
                    <br />
                    <div id="errorMsg">to add a route you need to fill in all blanks</div>
                    <input type="submit" value="Create" disabled="disabled" id="submitbutton"/>

                </form>
            </div>
        </div>
    </main>

</body>
</html>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
