<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">

  <!-- installed CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap-v4.2.1.min.css">
  <link rel="stylesheet" href="leaflet/leaflet.css"/>
  <link rel="stylesheet" href="leaflet-draw/leaflet.draw.css"/>

  <!-- locally created css -->
  <link rel="stylesheet" href="../stylesheets/style.css">

  <title>Create a new route</title>
</head>

<body onload = "getAllRoutes()">
  <%- include('partial/navbar', {active: "Maintenance"}); %>

  <main role="main">
    <div class="row" style="padding:10px">
      <div class="container-fluid">
        <h1>Route Creator</h1>
      </div>
    </div>

    <p>Beschreibung der Seite, was sie tut / wozu sie da ist, nicht vergessen :D</p>

    <div class="row" style="padding:10px;">
      <div class="col-12 col-md-6">
        <div id="createMap"></div>
      </div>
      <div class="col-12 col-md-6">
        <h2>Add Userroute</h2>

        <script type="text/javascript" language="javascript">
        function checkform()
        {
          var f = document.forms["createForm"].elements;
          var cansubmit = true;

          for (var i = 1; i < 5; i++) {
            if (f[i].value.length === 0) cansubmit = false;
          }
          document.getElementById('submitbutton').disabled = !cansubmit;

          if(cansubmit) {
            document.getElementById("errorMsg").style.display = "none";
          }
          else
          {
            document.getElementById("errorMsg").style.display = "block";
          }
        }
        </script>

        <form action="/item" method="POST" name="createForm" onsubmit="return validateJSONAndGeoJSON('createRoute')">
          Username:<br />
          <input type="text" name="creator" onKeyup="checkform()"/><br>
          Name of route:<br />
          <input type="text" name="name" onKeyup="checkform()"/><br>
          Route in correct GeoJSON syntax:<br />
          <textarea id="createRoute" style="width:100%; height:300px" type="text" name="geoJson" onKeyup="checkform()"></textarea>
          Timestamp:<br />
          <input type="date" name="date" onchange="checkform()"/>
          <input type="time" name="time" onKeyup="checkform()"/><br />
          Type:<br />
          <input type="radio" name="type" value="planned" checked> planned<br>
          <input type="radio" name="type" value="completed"> completed<br>
          <input type="hidden" name="madeBy" onKeyup="checkform()" value = "user"/>
          <input type="hidden" name="what" onKeyup="checkform()" value = "route"/>
          <input type="hidden" name="status" onKeyup="checkform()" value = "new"/>
          <br/><br/>
          <input type="submit" value="Create" disabled="disabled" id="submitbutton"/>
          <div id="errorMsg">To create a route you need to fill in all blanks.</div>

        </form>
      </div>
    </div>
  </main>

  <%- include('partial/footer', {active: "Home"}); %>

</body>
</html>

<script src="jquery/jquery.min.js"></script>
<script src="popper/umd/popper.min.js"></script>
<script src="bootstrap/js/bootstrap-v4.2.1.bundle.min.js"></script>
<script src="leaflet/leaflet.js"></script>
<script src="leaflet-draw/leaflet.draw.js"></script>
<script src="turf/turf.min.js"></script>

<!-- löschen und zu npm umwandeln !! -->
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/jsnlog/2.29.0/jsnlog.min.js"></script>

<script src="javascript/leafletDrawPolyline.js"></script>
<script src="javascript/createRouteMap.js"></script>
<script src="javascript/validationGeoJSON.js"></script>
<script src="javascript/encounters.js"></script>
<script src="javascript/tokens.js"></script>
