<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">

    <!-- installed CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="leaflet/leaflet.css"/>
    <link rel="stylesheet" href="leaflet-draw/leaflet.draw.css"/>

    <!-- locally created css -->
    <link rel="stylesheet" href="../stylesheets/style.css">

    <title>create a new route</title>
</head>

<body onload = "getAllRoutes()">
<%- include('partial/navbar', {active: "Maintainance"}); %>

<main role="main">
    <div class="row" style="padding:10px">
        <div class="container-fluid">
            <h1 style="color:blue; text-align:center">Route Creator</h1>
        </div>
    </div>

    <p>Beschreibung der Seite, was sie tut / wozu sie da ist, nicht vergessen :D</p>

    <div class="row" style="padding:10px;">
        <div class="col-12 col-md-6">
            <div id="createMap"></div>
        </div>
        <div class="col-12 col-md-6">
            <h1>Get animal</h1>

            <form action="/animalTrackingAPI" method="GET" name="createForm">
                ID of Study:<br />
                <input type="number" name="studyId"><br />
                ID of individual:<br />
                <input type="number" name="individualId"><br />
                <input type="submit" value="Create" id="submitbutton"/>

            </form>
        </div>
    </div>
</main>

<%- include('partial/footer', {active: "Home"}); %>

</body>
</html>

<script src="jquery/jquery.min.js"></script>
<script src="popper/umd/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="leaflet/leaflet.js"></script>
<script src="leaflet-draw/leaflet.draw.js"></script>
<script src="turf/turf.min.js"></script>

<script src="javascript/leafletDrawPolyline.js"></script>
<script src="javascript/createRouteMap.js"></script>
<script src="javascript/tokens.js"></script>
