<!-- final project, Geosoftware1, SoSe2019 -->
<!-- author: name: Katharina Poppinga, matr.: 450 146; name: Paula Scharf, matr.: 450 334 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">

  <!-- installed CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/leaflet/leaflet.css"/>

  <!-- locally created css -->
  <link rel="stylesheet" href="../stylesheets/style.css">

  <script src="/jquery/jquery.min.js"></script>

  <title>Create new animal route</title>
</head>

<body onload = "showAnimalMap()">
  <%- include('partial/navbar', {active: "Animal"}); %>

  <main role="main">
    <div class="row" style="padding:10px">
      <div class="container-fluid">
        <h1>Route Creator</h1>
      </div>
    </div>

    <div class="row" style="padding:10px;">
      <div class="col-12 col-sm-12">
        <div>This animal route creator allows you to request real animal tracking data from Movebank API.<br>
          For this, a study ID is needed. You can use
          <a href="https://www.movebank.org/panel_embedded_movebank_webapp" target="_blank" rel="noopener">this overview</a>
          provided by Movebank to search for study IDs.
          They are called Movebank ID and you can find them after selecting a search result or a circle in the map
          and clicking on 'Open in Studies Page'. You might not have access to all provided IDs and not all of them have
          the here required GPS data stored, so we recommend these three study IDs for starters: 2911040, 24442409 and 1764627.<br>
          After inserting a study ID you can retrieve the IDs of all individual animals in that study.
          Then simply choose an ID and request its data.
          You can also regulate the maximum number of locations you want to get for that individual.
          We recommend to try a low number at first and just increase if your machine is able to process that big amount of
          potentially upcoming encounters.
          <br>
          The requested data contains i.a. the taxon which is shown and the consecutive GPS measured coordinates of the individual animal
          which are put together to a route that is displayed in the map on the left.
          After seeing over this you can insert the route into the database.
        </div>
        <br>
      </div>
      <div class="col-12 col-md-6">
        <div id="createAnimalRouteMap"></div>
      </div>
      <div class="col-12 col-md-6">
        <h2>Get and Add Animal Route</h2>

        ID of study:<br>
        <input type="number" value="2911040" name="studyId" id="studyID"><br>
        <br>
        <button onclick="getIndividualID()">Get IDs of individuals</button><br>
        <br>
        <div id="individualIdDiv" style="display:none">
          ID of individual:<br>
          <select name="individualId" id="individualID">
            <option value="" disabled selected>Select an ID</option>
          </select>
          <br>
          Max. number of locations:<br>
          <input type="number" value="100" name="maxEventsPerIndividual" id="maxEventsPerIndividual"><br>
          <br>
          <button onclick="getTrackingData()">Get tracking data</button>
        </div>
        <br><br><br>
        <div id="getAnimalRouteDiv" style="display:none">
          <div>
            <h4>Currently chosen animal route</h4>
            <br>
            <p><b>Individual Taxon Canonical Name:</b></p>
            <p id="animalName"></p>
            <p><b>Date and time of first coordinate:</b></p>
            <p id="animalDateTime"></p>
          </div>
          <br>
          <button onclick="postAnimalRoute()">Add chosen animal route to database</button>
        </div>
      </div>
    </div>
  </main>

  <%- include('partial/footer', {active: "Home"}); %>

  <div class="loading style-2"><div class="loading-wheel"></div></div>

</body>
</html>

<script src="/popper/umd/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/leaflet/leaflet.js"></script>
<script src="/turf/turf.min.js"></script>
<script src="/jsnlog/jsnlog.min.js"></script>

<script src="/javascript/tokens.js"></script>
<script src="/javascript/apiRequestsEncounters.js"></script>
<script src="/javascript/encounters.js"></script>
<script src="/javascript/validationGeoJSON.js"></script>
<script src="/javascript/coordinateSwapping.js"></script>
<script src="/javascript/animalTrackingAPI.js"></script>
<script src="/javascript/tokens.js"></script>
