<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

    <title>Final Project</title>
</head>
<body>
    <%- include('partial/navbar', {active: "Home"}); %>
    <main role="main">
        <div class="row" style="padding:10px">
            <div class="container-fluid">
                <h1 style="color:blue; text-align:center">Route Creator</h1>
            </div>
        </div>
    </main>
</body>
</html>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
