<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">

    <!-- installed CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="leaflet/leaflet.css"/>
    <link rel="stylesheet" href="leaflet-draw/leaflet.draw.css"/>

    <!-- locally created css -->
    <link rel="stylesheet" href="../stylesheets/style.css">

    <title>create a new route</title>
</head>
<body>
  <%- include('partial/navbar', {active: "Maintainance"}); %>

  <main role="main">
    <div class="row" style="padding:10px">
      <div class="container-fluid">
        <h1 style="color:blue; text-align:center">Route Creator</h1>
      </div>
    </div>
    <div class="row" style="padding:10px;">
      <div class="col-12 col-md-6">
        <div id="createMap"></div>
      </div>
      <div class="col-12 col-md-6">
        <h1>Add Route</h1>

        <script type="text/javascript" language="javascript">
        function checkform()
        {
          var f = document.forms["createForm"].elements;
          var cansubmit = true;

                        for (var i = 1; i < 6; i++) {
                            if (f[i].value.length == 0) cansubmit = false;
                        }
                        document.getElementById('submitbutton').disabled = !cansubmit;

          if(cansubmit) {
            document.getElementById("errorMsg").style.display = "none";
          }
          else
          {
            document.getElementById("errorMsg").style.display = "block";
          }
        }
        </script>

                <form action="/item" method="POST" name="createForm">
                    Username:<br />
                    <input type="text" name="creator" onKeyup="checkform()"/><br>
                    Route:<br />
                    <textarea id="route" style="width:100%; height:300px" type="text" name="geoJson" onKeyup="checkform()"></textarea>
                    Routename:<br />
                    <input type="text" name="name" onKeyup="checkform()"/><br>
                    Description:<br />
                    <input type="text" name="description" onKeyup="checkform()"/><br>
                    Timestamp:<br />
                    <input type="date" name="date" onKeyup="checkform()"/>
                    <input type="time" name="time" onKeyup="checkform()"/>
                    <input type="hidden" name="type" onKeyup="checkform()" value = "user"/>
                    <br/><br/>
                    <div id="errorMsg">To create a route you need to fill in all blanks.</div>
                    <input type="submit" value="Create" disabled="disabled" id="submitbutton"/>

                </form>
            </div>
        </div>
    </main>

  <%- include('partial/footer', {active: "Home"}); %>

</body>
</html>

<script src="jquery/jquery.min.js"></script>
<script src="popper/umd/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="leaflet/leaflet.js"></script>
<script src="leaflet-draw/leaflet.draw.js"></script>

<script src="javascript/createRouteMap.js"></script>
