<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">

  <!-- installed CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap-v4.2.1.min.css">
  <link rel="stylesheet" href="leaflet/leaflet.css"/>

  <!-- locally created css -->
  <link rel="stylesheet" href="../stylesheets/style.css">

  <title>Create a new animal route</title>
</head>

<body>
  <%- include('partial/navbar', {active: "Maintenance"}); %>

  <main role="main">
    <div class="row" style="padding:10px">
      <div class="container-fluid">
        <h1>Route Creator</h1>
      </div>
    </div>

    <p>Beschreibung der Seite, was sie tut / wozu sie da ist, nicht vergessen :D</p>

    <div class="row" style="padding:10px;">
      <div class="col-12 col-md-6">
        <div id="createAnimalRouteMap"></div>
      </div>
      <div class="col-12 col-md-6">
        <h2>Get and add Animalroute</h2>

        <!--        <script type="text/javascript" language="javascript">
        function checkform()
        {
        var f = document.forms["createForm"].elements;
        var cansubmit = true;

        for (var i = 1; i < 3; i++) {
        if (f[i].value.length === 0) cansubmit = false;
      }
      document.getElementById('submitbutton').disabled = !cansubmit;

      if(cansubmit) {
      document.getElementById("errorMsg").style.display = "none";
    }
    else
    {
    document.getElementById("errorMsg").style.display = "block";
  }
}
</script>


<form action="/animalTrackingAPI" method="GET" name="createForm">
ID of study:<br />
<input type="number" name="studyId" onKeyup="checkform()"><br />
ID of individual:<br />
<input type="number" name="individualId" onKeyup="checkform()"><br />
<div id="errorMsg">To get an animalroute you need to fill in both blanks.</div>
<input type="submit" value="Get tracking data" disabled="disabled" id="submitbutton"/>
</form>

-->


ID of study:<br />
<input type="number" value="2911040" name="studyId" id="studyID"><br />
ID of individual:<br />
<input type="text" value="4262-84830876" name="individualId" id="individualID"><br />
<br>
<button onclick="getTrackingData()">Get tracking data</button>

<br><br><br>
<div>
  <h4>Currently chosen Animalroute</h4>
  <p><b>Individual Taxon Canonical Name:</b></p>
  <p id="animalName"></p>
  <p><b>Date and time of first coordinate:</b></p>
  <p id="animalDateTime"></p>
</div>
<br>
<button onclick="postAnimalRoute()">Add chosen animalroute to database</button>


</div>
</div>
</main>

<%- include('partial/footer', {active: "Home"}); %>

</body>
</html>

<script src="jquery/jquery.min.js"></script>
<script src="popper/umd/popper.min.js"></script>
<script src="bootstrap/js/bootstrap-v4.2.1.bundle.min.js"></script>
<script src="leaflet/leaflet.js"></script>

<script src="javascript/validationGeoJSON.js"></script>
<script src="javascript/animalTrackingAPI.js"></script>
<script src="javascript/tokens.js"></script>
