<!-- final project, Geosoftware1, SoSe2019 -->
<!-- author: name: Katharina Poppinga, matr.: 450 146; name: Paula Scharf, matr.: 450 334 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">

  <!-- installed CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="leaflet/leaflet.css"/>

  <!-- locally created css -->
  <link rel="stylesheet" href="../stylesheets/style.css">

  <title>Create a new animal route</title>
</head>

<body onload = "showAnimalMapData()">
<%- include('partial/navbar', {active: "Maintenance"}); %>

<main role="main">
  <div class="row" style="padding:10px">
    <div class="container-fluid">
      <h1>Route Creator</h1>
    </div>
  </div>

<!-- löschen!!!! -->
  <p>24442409 1764627</p>

  <div class="row" style="padding:10px;">
    <div class="col-12 col-md-6">
      <div id="createAnimalRouteMap"></div>
    </div>
    <div class="col-12 col-md-6">
      <h2>Get and add Animalroute</h2>

      ID of study:<br />
      <input type="number" value="2911040" name="studyId" id="studyID"><br />
      <button onclick="getIndividualID()">Get IDs of individuals</button><br />
      <br>
      <div id="individualIdDiv" style="display:none">
        ID of individual:<br />
        <select name="individualId" id="individualID">
          <option value="" disabled selected>Select an ID</option>
        </select>
        <br>
        <button onclick="getTrackingData()">Get tracking data</button>
      </div>
      <br><br><br>
      <div id="getAnimalRouteDiv" style="display:none">
        <div>
          <h4>Currently chosen Animalroute</h4>
          <p><b>Individual Taxon Canonical Name:</b></p>
          <p id="animalName"></p>
          <p><b>Date and time of first coordinate:</b></p>
          <p id="animalDateTime"></p>
        </div>
        <br>
        <button onclick="postAnimalRoute()">Add chosen animalroute to database</button>
      </div>
    </div>
  </div>
</main>

<%- include('partial/footer', {active: "Home"}); %>

</body>
</html>

<script src="jquery/jquery.min.js"></script>
<script src="popper/umd/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="leaflet/leaflet.js"></script>
<script src="turf/turf.min.js"></script>

<script src="javascript/tokens.js"></script>
<script src="javascript/apiRequestsEncounters.js"></script>
<script src="javascript/encounters.js"></script>
<script src="javascript/validationGeoJSON.js"></script>
<script src="javascript/coordinateSwapping.js"></script>
<script src="javascript/animalTrackingAPI.js"></script>
<script src="javascript/tokens.js"></script>
