<!-- final project, Geosoftware1, SoSe2019 -->
<!-- author: name: Katharina Poppinga, matr.: 450 146; name: Paula Scharf, matr.: 450 334 -->

<h1><%= message %></h1>
<h1><%= error.status %></h1>
<pre><%= error.stack %></pre>
