<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">

  <!-- installed CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="leaflet/leaflet.css"/>
  <link rel="stylesheet" href="leaflet-draw/leaflet.draw.css"/>

  <!-- locally created css -->
  <link rel="stylesheet" href="../stylesheets/style.css">


  <title>Final Project</title>
</head>

<body>
  <%- include('partial/navbar', {active: "Home"}); %>
  <main role="main">
    <div class="row" style="padding:10px">
      <div class="container-fluid">
        <h1 style="color:blue; text-align:center">Final Project</h1>
      </div>
    </div>

    <p>Beschreibung der Seite, was sie tut / wozu sie da ist, nicht vergessen :D, Use checkboxes for displaying the routes in the map or not.</p>

    <div class="row" style="padding:10px">
      <div class="col-sm-12">
        <div id="allRoutesMap"></div>
      </div>
    </div>
    <br>

    <div class="row">

      <div class="col-sm">
        <div id="userRoutesTableDiv">
          <table class="table">
            <thead class="thead-dark" id="userRoutesTableHead">
              <tr>
                <th>Consecutive number of the route</th>
                <th>Username</th>
                <th>Name of route</th>
                <th colspan="2">Date and time</th>
                <th>Type of route</th>
              </tr>
            </thead>
            <tbody id="routesTable">
            </tbody>
          </table>
        </div>
        <div>This table shows .....</div>
      </div>


      <div class="col-sm">
        <div id="animalRoutesTableDiv">
          <table class="table">
            <thead class="thead-dark" id="animalRoutesTableHead">
              <tr>
                <th>Consecutive number of the route</th>
                <th>Animalname/species</th>
                <th>?</th>
                <th colspan="2">?</th>
                <th>?</th>
              </tr>
            </thead>
            <tbody id="animalRoutesTable">
            </tbody>
          </table>
        </div>
        <div>This table shows .....</div>
      </div>

    </div>
    <input type="text" id="searchRouteName" placeholder="Search for names of specific routes.." title="Type in a name">
    <label class="switch">
      <input type="checkbox" onchange="searchEncounters(this)">
      <span class="slider round"></span>
    </label>


    <br><br>

    <br><br>

    <div class="row">
      <div class="col-sm">
        <div id="encounterTableDiv">
          <table class="table">
            <thead class="thead-dark" id="encounterTableHead">
              <tr>
                <th rowspan="1">Consecutive number of the encounter</th>
                <th rowspan="2">Number of first route</th>
                <th rowspan="2">Number of second route</th>
                <th colspan="3" align="center">Context-information</th>
                <th rowspan="2">Confirm encounter</th>
                <th rowspan="2">Save Encounter</th>
              </tr>
              <tr>
                <th>Country</th>
                <th>Weather</th>
                <th>Terrain</th>
              </tr>
            </thead>
            <tbody id="encountersTable">
            </tbody>
          </table>
        </div>
        <div>This table shows encounters...<br>Frage: "Consecutive number of the encounter" oder Nummer den entsprechenden Routen zugehörig?</div>
      </div>
    </div>

  </main>

  <%- include('partial/footer'); %>

</body>
</html>

<script src="jquery/jquery.min.js"></script>
<script src="popper/umd/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="leaflet/leaflet.js"></script>
<script src="leaflet-draw/leaflet.draw.js"></script>
<script src="turf/turf.min.js"></script>


<!-- löschen und zu npm umwandeln !! -->
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/jsnlog/2.29.0/jsnlog.min.js"></script>


<script src="javascript/createAndFillTables.js"></script>
<script src="javascript/encounters.js"></script>
<script src="javascript/readRoutesEncounters.js"></script>
<script src="javascript/tokens.js"></script>
