<!-- final project, Geosoftware1, SoSe2019 -->
<!-- author: name: Katharina Poppinga, matr.: 450 146; name: Paula Scharf, matr.: 450 334 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">

  <!-- installed CSS -->
  <link rel="stylesheet" href="/qunit/qunit.css">

  <title>Availability of OpenWeatherMap API and Geonames API</title>

</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
</body>

</html>

<script src="/jquery/jquery.min.js"></script>
<script src="/qunit/qunit.js"></script>

<script src="javascript/tokens.js"></script>
<script src="test.js"></script>
