/**
* @desc final project, Geosoftware1, SoSe2019
* @author name: Katharina Poppinga, matr.: 450 146; name: Paula Scharf, matr.: 450 334
*/

body {
  background-color: #f2f2f2;
  font-family:'Calibri';
}

button {
  background-color: #d6a820;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 30px;
  text-align: center;
}

caption, td {
  text-align: left;
}

main {
  margin-bottom: 100px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

#encounterTable {
  overflow: auto;
  position: sticky;
  top: 0;
  text-align: center;
}


caption, td {
  text-align: left;
}

th, td {
  padding: 10px;
}

#allRoutesMap, #createAnimalRouteMap, #createMap, #updateMap {
  height: 600px;
}

.navbar-nav > .active > a {
  color: #7ed5e1;
}

.nav-item > a:hover {
  color: #7ed5e1;
}

#encounterTableDiv {
  overflow: scroll;
  max-height: 600px;
  width: 100%;
}
