/**
* @desc final project, Geosoftware1, SoSe2019
* @author name: Katharina Poppinga, matr.: 450 146; name: Paula Scharf, matr.: 450 334
*/

body {
  background-color: #f2f2f2;
  font-family:'Calibri';
}

button, input[type="submit"] {
background-color: #bfbfbf;
border: none;
color: black;
cursor: pointer;
font-size: 16px;
padding: 5px 10px;
text-align: center;
}

caption, td {
  text-align: left;
}

h1 {
  color: blue;
  text-align: center;
}

h3 {
  text-align: center;
}

main {
  margin-bottom: 100px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

caption, td {
  text-align: left;
}

th, td {
  padding: 10px;
}

#indexMap, #createAnimalRouteMap, #createMap, #updateMap, #singleEncounterMap {
  height: 600px;
}

#animalRoutesTableDiv, #userRoutesTableDiv {
  overflow:scroll;
  max-height:400px;
  width:100%;
  overflow:auto;
}

#encounterTableDiv {
  overflow:scroll;
  max-height:600px;
  width:100%;
  overflow:auto;
}

#animalRoutesTableHead, #encounterTableHead, #userRoutesTableHead {
  position: sticky;
  text-align: center;
  top: 0;
}


/* the switch - the box around the slider */
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

/* hide default HTML checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

/* the slider */
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  -webkit-transition: .4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  -webkit-transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}
.loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;

  position: absolute;
  top: 50%;
  left: 50%;

  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
  border-style: double;
  border-color: #ccc transparent;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}