/**
* @desc final project, Geosoftware1, SoSe2019
* @author name: Katharina Poppinga, matr.: 450 146; name: Paula Scharf, matr.: 450 334
*/

body {
  background-color: #f2f2f2;
  font-family:'Calibri';
}

/*
button {
  background-color: #d6a820;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 30px;
  text-align: center;
}
*/

caption, td {
  text-align: left;
}

h1 {
  color: blue;
  text-align: center;
}

main {
  margin-bottom: 100px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

caption, td {
  text-align: left;
}

th, td {
  padding: 10px;
}

#indexMap, #createAnimalRouteMap, #createMap, #updateMap, #singleEncounterMap {
  height: 600px;
}

#animalRoutesTableDiv, #userRoutesTableDiv {
  overflow:scroll;
  max-height:400px;
  width:100%;
  overflow:auto;
}

#encounterTableDiv {
  overflow:scroll;
  max-height:600px;
  width:100%;
  overflow:auto;
}

#animalRoutesTableHead, #encounterTableHead, #userRoutesTableHead {
  position: sticky;
  top: 0;
  text-align: center;
}


/* the switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
