<!-- final project, Geosoftware1, SoSe2019 -->
<!-- author: name: Katharina Poppinga, matr.: 450 146; name: Paula Scharf, matr.: 450 334 -->

<footer class="page-footer font-small text-right blue fixed-bottom" style="background-color: #789ee1; color:white">
  <!-- Footer Links -->
  <div class="container-fluid text-right">
    <div class="row text-right">
      <div class="col-sm-8">
        <h4 class="text-uppercase">Creators</h4>
      </div>
      <div class="col-sm-4">
        <p>Katharina Poppinga (450146), Paula Scharf (450334)</p>
      </div>
    </div>
  </div>
</footer>

<script src="/popper/umd/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
