<footer class="page-footer font-small text-center blue fixed-bottom" style="background-color: #789ee1; color:white">
    <!-- Footer Links -->
    <div class="container-fluid text-center">
        <div class="row text-center">
            <div class="col-sm">
                <h2 class="text-uppercase">Creators</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm">
                <p>Katharina Poppinga (450146), Paula Scharf (450334)</p>
            </div>
        </div>
    </div>
</footer>

<script src="popper/umd/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
