<nav class="navbar navbar-expand-md bg-dark navbar-dark navbar-expand-md">
    <a class="navbar-brand <%if(active=="Home"){%>class="active"<%}%>" href="/">Geosoftware 1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown <%if(active=="Maintainance"){%> active<%}%> ">
                <a  class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop">
                    Maintainance
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/create">Create new userroute</a>
                    <a class="dropdown-item" href="/createAnimalRoute">Create new animalroute</a>
                    <a class="dropdown-item" href="/overview">All routes</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script src="popper/umd/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
